.table{
    margin-top:20px;
    overflow: scroll;
    height: 475px;
    color: #4d4a49;
}
.table tr{
    display: flex;
    justify-content: space-between;
}

.table td{
    padding: 8px;
}

.table tr:nth-of-type(odd){
    background-color : #f8f8f8;
}